.flex {
  display: flex;
  align-items: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.center {
  justify-content: center;
}
.left {
  justify-content: left;
}
.flexWrap {
  flex-wrap: wrap;
}
.margin21-1 {
  margin-left: 21%;
  margin-right: 1%;
}
.margin0 {
  margin: 0;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding {
  padding-bottom: 50%;
}
.profileDiv {
  position: fixed;
  left: 0;
  top: 50px;
  width: 16rem;
  height: 100vh;
}
.profileImage {
  padding: 15%;
}
.profileButton {
  padding-bottom: 10%;
}
.mediumText {
  font-size: 11px;
}
.smallText {
  font-size: 9px;
}
.smallText:hover {
  text-decoration: none;
}
.white {
  color: white;
}
.white:hover {
  color: rgb(230, 230, 230);
}
.textDecoNone:hover {
  text-decoration: none;
}
.itemproportion {
  all: unset;
  width: 20%;
}
.spinnerDiv {
  width: 100%;
  text-align: center;
}
.navLink {
  color: rgb(150, 150, 170);
}
.navLink:hover {
  text-decoration: none;
}
.itemButton {
  border: none;
  background-color: transparent;
  text-align: left;
  border-radius: 0.25rem;
  padding: 0;
  width: 100%;
  margin: 2px;
}
.bgColor {
  border: 1px solid #007bff;
  background-color: #007bff;
}
.padding8-8 {
  padding-left: 8px;
  padding-right: 8px;
}
