.flex {
  display: flex;
  align-items: center;
}
.flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.center {
  justify-content: center;
}
.left {
  justify-content: left;
}
.flexWrap {
  flex-wrap: wrap;
}
.margin21-1 {
  margin-left: 21%;
  margin-right: 1%;
}
.margin0 {
  margin: 0;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paddingb50 {
  padding-bottom: 50%;
}
.padding2pc {
  padding: 2%;
}
.padding8-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.profileDiv {
  position: fixed;
  left: 0;
  top: 50px;
  width: 16rem;
  height: 100vh;
  background-color: #f8f9fa;
}
.profileImage {
  padding: 15%;
}
.profileButton {
  padding-bottom: 10%;
}
.bigText {
  font-size: 22px;
}
.mediumText {
  font-size: 11px;
}
.smallText {
  font-size: 9px;
}
.smallText:hover {
  text-decoration: none;
}
.white {
  color: white;
}
.white:hover {
  color: rgb(230, 230, 230);
}
.textDecoNone:hover {
  text-decoration: none;
}
.itemproportion {
  all: unset;
  width: 20%;
}
.spinnerDiv {
  width: 100%;
  text-align: center;
}
.navLink {
  all: unset;
  color: rgb(150, 150, 170);
  cursor: pointer;
}
.navLink:hover {
  text-decoration: none;
  color: rgb(130, 130, 140);
}
.navLink:active {
  text-decoration: none;
  color: rgb(80, 80, 90);
}
.itemButton {
  border: none;
  background-color: transparent;
  text-align: left;
  border-radius: 0.25rem;
  padding: 0;
  width: 100%;
  margin: 2px;
}
.bgColor {
  border: 1px solid #dc3545;
  background-color: #dc3545;
}
.filterDiv {
  margin: 0.5rem;
}
.width50pc {
  width: 50%;
}
.width100pc {
  width: 100%;
}
.aboutUsDiv {
  background-color: transparent;
  margin: auto;
  margin-top: 150px;
  width: 40%;
}
.imageBg {
  background-image: url("https://media.istockphoto.com/vectors/help-social-concept-vector-id1059943696");
  height: 100vh;
  background-repeat: no-repeat;
}
a {
  all: unset;
}
.wspLink:hover {
  color: green;
}
.gmailLink:hover {
  color: red;
}
.fbkLink:hover {
  color: rgb(82, 82, 255);
}
